.pending-container {
  margin-top: 80px;
  min-height: 100vh;
  width: 100%;
  background-color: #fff;
}

.title {
  color: rgb(171, 25, 204);
  margin-left: 10px;
  font-size: 14px;
  font-weight: bold;
  margin-top: 10px;
}

.search-bar {
  margin-bottom: 20px;
  margin-left: 10px;
}

input {
  padding: 10px;
  font-size: 1rem;
  border: 1px solid #ddd;
  border-radius: 4px;
}

/* Add styles for the loader container */
.loaderContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  /* Ensure it covers the full height of the viewport */
}

.loadingMessage {
  margin-top: 10px;
  font-size: 20px;
  color: #3498db;
}

.pending-container {
  margin-top: 80px;
  min-height: 100vh;
  width: 100%;
  background-color: #fff;
}

.title {
  color: rgb(171, 25, 204);
  margin-left: 10px;
  font-size: 14px;
  font-weight: bold;
  margin-top: 10px;
}

.search-bar {
  margin-bottom: 20px;
  margin-left: 10px;
}

input {
  padding: 10px;
  font-size: 1rem;
  border: 1px solid #ddd;
  border-radius: 4px;
}